:root {
    --header: transparent;
    --border: #353535;
    --body-background: #fafafa;
    --dashboard-background: #232121;
    --text: #ffffff;
    --text-inverted: #000000;
    --text-gray: #b9b9b9;
    --text-gray-inverted: #414141;
    --image-background: #a67b5b;
    --image-background-dark: #594231;
}

.top-container {
    height: auto;
}

.main-container {
    display: flex;
    width: 100%;
}

.item-container {
    transition: 0.5s;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.metabase-container {
    margin-bottom: 2vh;
    margin-top: 2vh;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
}

.metabase-embed {
    width: 90%;
    border-radius: 25px;
    border-style: dotted;
    border-color: var(--image-background);
    background-color: var(--border);
}

.container-item {
    margin-bottom: 2vh;
    margin-top: 2vh;

    background-color: var(--border);
    width: 90%;
    border-radius: 25px;
    padding: 15px;

    border-style: dotted;
    border-color: var(--image-background);

    button {
        transition: 0.5s;
        color: var(--text);
        background-color: var(--image-background);
        background-image: linear-gradient(to bottom, var(--image-background), var(--image-background-dark));
        border: none;
        padding: 6px 20px;
        font-size: 1.5vh;
        border-radius: 5px;
    }

    button:hover {
        transition: 0.5s;
        cursor: pointer;
        background-color: var(--image-background-dark);
        padding: 1px 6px;
        margin: 2px 2px;
    }

    p {
        color: var(--text);
        font-size: 2vh;
    }

    h2 {
        text-decoration: solid underline 3px;
    }
}

@media (max-width: 900px) or (resolution > 200dpi) {
    .main-container {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .item-container {
        transition: 1s;
        width: 100%;
    }

    .metabase-container {
        width: 100%;
    }

    .container-item {
        width: 90%;
    }
}

@media (min-width: 900px) and (resolution <= 200dpi) {
    
}

body {
    background-color: var(--dashboard-background);
}